.body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: #0c0c0c;
    overflow: hidden;
    position: relative;
}

.centerWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.cosmos {
    position: absolute;
    width: 80px;
    height: 150px;
    /* Transform is set by JS */
}

.cosmosItem {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #7e7e7e;
    animation: fall-and-disappear 5s infinite ease-in-out;
    transform-origin: bottom;
    transform: scale(0);
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes fall-and-disappear {
    0% {
        opacity: 0;
        top: 0;
        left: 0;
        transform: scale(1);
    }

    25% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        top: -200px;
        transform: scale(1);
    }

    100% {
        top: -150px;
        left: -300px;
        transform: scale(0);
    }
}